.supermoonpage {
  position: relative;
  overflow: hidden;
}

@keyframes mymove {
  0% {height: 100vh}
  50% {height: 100vh}
  100% {height: 90px}
}

.supermoon-header {
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  border: 1px solid black;
  background-image: url('../images/background.png');
  background-size: cover;
  background-position: center center;
  background-repeat:no-repeat;
  animation: mymove 3s ease;
}

@keyframes fadeOut {
  0% { opacity: 0; height: 0; }
  70% { opacity: 0; height: 0; }
  100% { opacity: 1; height: 100%; }
}

.supermoon-content {
  opacity: 1;
  animation: fadeOut 4s;
} 

.supermoon-heading {
  font-size: 16pt;
  font-weight: 800;
  padding-bottom: 25px;
}

.supermoon-cycle, .supermoon-bigger-and-brighter, .supermoon-special, .timeline-container {
  margin-top: 80px;
}









.timeline-container {
  width: 100%;
}

.timeline-title {
  font-size: 2em;
  text-align: center;

}
h3 {
  padding-top: 0.25em;
}

.vertical-timeline-element-content {
  box-shadow: none !important;
  padding: 2em 3em !important;
  /* background-color: lightgrey !important; */
}

.date {
  color: white;
}

@media only screen and (max-width: 1700px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: black;
  }
}


@media only screen and (max-width: 600px) {
  .supermoon-intro {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: lightskyblue;
  }
  
  .supermoon-image {
    
  }
  
  .supermoon-intro-text {
    
  }
}

@media only screen and (min-width: 600px) {
  
  .supermoon-intro {
    /* background-color: lightcoral; */
  }  
}

@media only screen and (min-width: 768px) {
  
  .supermoon-intro {
    /* background-color: lightseagreen; */
  }  
}

@media only screen and (min-width: 1200px) {
  .supermoon-content {
    width: 70%;
    margin: auto;
  }

  /* Supermoon Intro **START** */
  .supermoon-intro {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* background-color: lightgreen; */
  }  
  .supermoon-image {
    width: 35%;
    margin-top: -40px;
  }
  
  .supermoon-intro-content {
    width: 50%;
    margin-top: 100px;
  }
  /* Supermoon Intro **END** */

  /* Supermoon Cycle **START** */
  .supermoon-cycle {
    display: flex;
    justify-content: space-between;
  }

  .supermoon-cycle-content {
    width: 50%;
  }

  .supermoon-perigeeapogee {
    width: 35%;
  }
  /* Supermoon Cycle **END** */

  /* Supermoon Bigger and Brighter **START** */
  .supermoon-bigger-and-brighter {
    display: flex;
    justify-content: space-between;

  }

  .supermoon-infographic {
    width: 35%;
  }

  .supermoon-bigger-and-brighter-content {
    width: 50%;
  }
}